/* ============================
=             Site            =
============================ */

@viewport {
	width: device-width;
}

html {
	background: $background-color;
	font-size: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: transparent;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/


/**
 * Header
 */

.header {
	height: 5rem;

	.container {
		height: 100%;
	}
}


/**
 * Footer
 */

.footer {
	background-color: $color-secondary;
	padding-top: $padding;
	padding-bottom: $padding;

	hr {
		border-color: darken($color-secondary, 5%);
	}
}


/**
 * Main
 */

.main__title {
	text-transform: uppercase;
	color: $color-black;
}
